{% extends '../base.twig' %}

{% block content %}
    <div class="card">
    <div class="card-header">
        <div class="card-title"><h2 class="text-center">Najlepšie udalosti na Slovensku</h2>
        </div>
    </div>
    <div class="container mt-2">

    <div class="container">
        <h2 class="text-center fs-5 mb-5"> Prišiel rok 2024! A my sme vás, samozrejme, nemohli nechať bez nášho
            tradičného výberu najzaujímavejších podujatí a aktivít. Ponorme sa spoločne do sveta kreativity, zábavy a
            kultúrneho obohatenia, aby bol každý januárový deň naozaj výnimočný a nezabudnuteľný!</h2>


        <div class="mb-3">
            <form action="/" method="get">
                <label for="sortBy">Zoradiť podľa: </label>
                <select name="sortBy" id="sortBy">
                    <option value="date">Dátum</option>
                    <option value="nazov">Názov</option>
                </select>
                <label for="filterBy">Zoradenia: </label>
                <select name="filterBy" id="filterBy">
                    <option value="ASC">ASC</option>
                    <option value="DESC">DESC</option>
                </select>
                <input type="submit" value="OK">
            </form>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2rem;">
    <div class="row gap-3">
        {% for post in posts %}
            <div id="gaudeamusDetails" class="card mb-3" style="max-width: 20rem;">
                <div class="card-body d-flex flex-column">
                    <div class="mb-3">
                        <h3>{{ post.nazov }}</h3>
                        <img style="height: 10rem" src={{ post.image_path }} alt="Gaudeamus" class="mb-3 img-fluid">
                        <p>{{ post.popis }}</p>
                        <h6>{{ post.date|date('yy.MM.DD') }}</h6>
                        <h6 class="pb-3">{{ post.mesto }}</h6>
                    </div>

                    <div class="row gap-3">
                        <a class="btn btn-warning" href="/post/comments/{{ post.id }}">Komentáre</a>
                        <a href="/post/comments/edit/{{ post.id }}" class="btn btn-primary">Vytvoriť komentár</a>
                        {% if user | is_granted('admin') %}
                            <a href="/post/edit/{{ post.id }}" class="btn btn-primary">Zmeniť</a>
                        {% endif %}
                        {% if user | is_granted('admin') %}
                            <a href="/post/delete/{{ post.id }}" class="btn btn-danger">Odstrániť</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}